.area-imagem {
    width: 50%;
    height: 100;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-imagem-estatica, .container-imagem-animada {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
}

.img {
    width: 500px;
}

.botao-gif {
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
}