.area-botoes_container {
    width: 75%;
    height: 100%;
    padding: 5%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.area-botoes_content {
    height: 15%;
}

.area-botoes_descricao {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}