*, *::after, *::before { 
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;

  background: #0F0D13;
}

#root {
  width: 100%;
  height: 100vh;
}

:root {
  --percentualPercorrido: 0%;
}