*, *::after, *::before { 
    box-sizing: border-box;
  
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 100%;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-family: 'Rubik', sans-serif;
    color: #EBEBEB;
  
    background: linear-gradient(180deg, #807ECE 0%, #8E7ECE 100%);
  }